<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>

<section class="edit-profile">
  <div class="new-event top-heading">
    <h1 class="new-event-heading">Edit Your Profile</h1>
  </div>
  <div class="new-event sub-heading">
    <h2 class="new-event-heading">Tell us about yourself.</h2>
  </div>
  <div class="hero-image">
  </div>

  <section class="edit-profile-form">
    <%= form_for( @user, url: user_path(@user.id) ) do |f| %>

      <div class="profile-form-card">
        <div class="form-item name">
          <h3>What is your name?</h3>
        </div>
        <div class="form-item-icon">
          <%= image_tag "identification.svg" %>
        </div>
        <div class="form-item">
          <h2><%= f.label :first_name %></h2>
          <%= f.text_field :first_name, placeholder: "Enter First Name" %>
        </div>

        <div class="form-item">
          <h2><%= f.label :last_name %></h2>
          <%= f.text_field :last_name, placeholder: "Enter Last Name" %>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "dance.svg" %>
        </div>

        <div class="form-item">
          <h3><%= f.label "How old are you?" %></h3>
          <%= f.number_field :age, placeholder: "Enter Age" %>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "friendship.svg" %>
        </div>
        <div class="form-item">
          <h3><%= f.label "What gender do you identify as?" %></h3>
          <%= f.select :gender, ["Female", "Male", ["Non-Binary", nil], ["Rather Not Say", nil]]%>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "placeholder.svg" %>
        </div>
        <div class="form-item">
          <h3><%= f.label "What is your preferred workout location?" %></h3>
          <%= f.text_field :location, id: :postal_code, placeholder: "Enter Address" %>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "gym.svg" %>
        </div>
        <div class="form-item">
          <h3><%= f.label "What is your fitness level?" %></h3>
          <%= f.select :fitness_level, [1, 2, 3]%>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "high-five.svg" %>
        </div>
        <div class="form-item">
          <h3><%= f.label "What are some of your favorite things?" %></h3>
          <%= f.text_area :description, placeholder: "The gym is cool, but I really love chips!"  %>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "calendar.svg" %>
        </div>
        <div class="form-item">
          <h3>What is your preffered workout schedule?</h3>
        </div>
        <div class="form-item">
          <% Date::DAYNAMES.each do |day| %>
             <%= f.check_box :day, {multiple: true}, day, nil %>
             <%= day %>
          <% end %>
          <div class="form-item schedule">
            <h3><%= f.label "Usually, in the" %></h3>
            <%= f.select :time_of_day, ['Morning', 'Afternoon', 'Evening', 'Twilight'], {}, {} %>
          </div>
        </div>
      </div>

      <div class="profile-form-card">
        <div class="form-item-icon">
          <%= image_tag "gallery.svg" %>
        </div>
        <div  class="form-item">
          <h3><%= f.label "You can upload a photo of yourself here" %></h3>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="profile-form-card last">
        <div class="form-item-icon">
          <%= image_tag "friends.svg" %>
        </div>
        <div class="form-item">
          <h3><%= f.label "Do your profile to be visible to others?" %></h3>
          <%= f.label :matching, "Yes", :value => "true" %>
          <%= f.radio_button :matching, true, :checked => true %>
          <%= f.label :matching, "No", :value => "false"  %>
          <%= f.radio_button :matching, false %>
        </div>
      </div>

      <div class="profile-form-item submit">
        <%= f.submit "Update" %>
      </div>

    <% end %>

    <div class="advanced">
      <%= link_to "Advanced Profile Settings", edit_user_registration_path %>
    </div>

  </section>

</section>
