<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>



<section class="create-new-event">
  <div class="gym-buddy-hero-image">
    <div class="new-event top-heading">
      <h1 class="new-event-heading">Find a Gym Buddy</h1>
    </div>
    <div class="new-event sub-heading">
      <h2 class="new-event-heading">We’ll connect you with someone to keep you motivated.</h2>
    </div>
  </div>

  <nav class="search">

    <%= form_tag users_path, method: :get do %>
      <div class="form-card discover">
        <div class="form-item-icon">
          <%= image_tag "worldwide.svg" %>
        </div>
        <div class="form-item">
          <h2 class="activity-type-header">Find People Near</h2>
          <%= text_field_tag :search %>
        </div>
      </div>
      <div class="form-card discover">
        <h2 class="activity-type-header">What type of activity are you looking to do?</h1>
        <div class="activity-icons-wrapper">
          <div class="activity-icon">
            <p class="activity-type-description">Yoga/Pilates</p>
            <label class="activity-type">
              <%= radio_button_tag :activity_goal, "Yoga/Pilates", checked = false %>
              <%= image_tag("lotus-position.svg") %>
            </label>
          </div>
          <div class="activity-icon">
            <p class="activity-type-description">Resistence</p>
            <label class="activity-type">
              <%= radio_button_tag :activity_goal, "Resistence Training", checked = false %>
              <%= image_tag("dumbbell.svg") %>
            </label>
          </div>
          <div class="activity-icon">
            <p class="activity-type-description">Cardio</p>
            <label class="activity-type">
              <%= radio_button_tag :activity_goal, "Cardio", checked = false %>
              <%= image_tag("athletics.svg") %>
            </label>
          </div>
          <div class="activity-icon">
            <p class="activity-type-description">Recreation</p>
            <label class="activity-type">
              <%= radio_button_tag :activity_goal, "Recreation", checked = false %>
              <%= image_tag("american-football.svg") %>
            </label>
          </div>
          <label class="activity-type">
            <%= radio_button_tag :activity_goal, "", checked = true %>
            <div class="activity-icon-all">Show All</div>
          </label>
        </div>
        <div class="large-submit-button">
          <%= submit_tag "Find Buddy" %>
        </div>
      </div>
      <% end %>
    </nav>


</section>
