<nav class="nav-bar">
  <div class="gymmelogo-container">
    <h1 class="gymme-logo">Gymme</h1>
  </div>
  <div class="nav-item-container">
    <ul class="nav-bar-items" id="navBarItems">
      <div class="nav-button">
        <%= link_to home_path(current_user.id) do %>
          <li class="desktop nav-item"> Home </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to discover_path do %>
          <li class="desktop nav-item"> Discover Events </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to gymbuddy_path do %>
          <li class="desktop nav-item"> Find Gym Buddy </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to conversations_path do %>
          <li class="desktop nav-item"> Messages </li>
        <% end %>
      </div>
    </ul>
    <ul class="nav-bar-items drop-down-items" id="dropDownItems">
      <div class="nav-button">
        <%= link_to home_path(current_user.id) do %>
          <li class="desktop nav-item"> Home </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to discover_path do %>
          <li class="desktop nav-item"> Discover Events </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to gymbuddy_path do %>
          <li class="desktop nav-item"> Find Gym Buddy </li>
        <% end %>
      </div>
      <div class="nav-button">
        <%= link_to conversations_path do %>
          <li class="desktop nav-item"> Messages </li>
        <% end %>
      </div>
    </ul>

    <div class="hamburger-menu-icon" id="hamburgerMenuIcon">
      <%= image_tag("menu.svg") %>
    </div>

  <% if current_user %>
    <div class="profile-button" id="profile-avatar-button">
      <% if current_user.avatar.attached? %>
        <div class="avatar">
          <%= image_tag url_for(current_user.avatar) %>
        </div>
      <% else %>
        <div class="avatar">
          <%= image_tag(user_avatar(current_user)) %>
        </div>
      <% end %>
      <span>&#x25BC;</span>
    </div>
  </div>

  <section class="user-options-modal hidden" id="userMenu">
    <ul class="user-options">
      <%= link_to new_event_path do %>
        <li class="user-options-link">Create Event</li>
      <% end %>
      <%= link_to user_path(current_user.id) do %>
        <li class="user-options-link">Profile</li>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <li class="user-options-link logout">Logout</li>
      <% end %>
    </ul>
  </section>
  <div class="screen-cover" id="userScreenCover"></div>
  <div class="screen-cover drop-down-screen-cover-tint" id="dropDownScreenCover"></div>


<% end %>
</nav>
