<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>

<section class="create-new-event">

  <div class="discover-hero-image">
    <div class="new-event top-heading">
      <h1 class="new-event-heading">Find an Event</h1>
    </div>
    <div class="new-event sub-heading">
      <h2 class="new-event-heading">We’ll connect you with a new squad.</h2>
    </div>
  </div>
</section>

<header class="event-index">
  <div class="map-icon" id="map-button">
    <%= image_tag("noun_Map.png") %>
  </div>
  <h1 class="index-header">Refine Your Search</h1>
  <nav class="search">
    <%= form_tag events_path, method: :get do %>

        <%= select_tag :activity_type, options_for_select([["All Fitness Types", nil], "Yoga/Pilates", "Resistence Training", "Cardio", "Recreation"], selected: params[:activity_type]), include_blank: false %>
        <%= text_field_tag :search, params[:search] %>

        <%= submit_tag "Filter" %>
    <% end %>

  </nav>
  <!-- eventsMap is the map -->
  <div class="map-container">
    <div class"event-index-map" id="eventsMap" ></div>

    <% @events.each do | event | %>
      <div class="eventsLatLong" data-latitude="<%= event.latitude %>" data-longitude="<%= event.longitude %>"></div>
      <div class="eventsMarkerTitle" data-title="<%= event.title %>"></div>
    <% end %>
  </div>


</header>

<section class="event-reults home">

  <% @events.each do |event| %>
    <%= link_to event_url(event.id) do %>
      <div class="event-card">
        <div class="event-icon-container">
          <div class="event-icon"><%= image_tag(event_activity_icon(event)) %></div>
        </div>
        <div class="event-info">
          <p class="date"><%= event.time.strftime("%A %b %d, %Y") %></p>
          <h3 class="event-title"><%= event.title %></h3>
          <p class="address"><%= event.address %></p>
          <p class="event-description"><%= event.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>


</section>
