<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>

<div class="map-icon" id="map-button">
  <%= image_tag("placeholder.png") %>
</div>

<section class="event-page">

  <div class="event-show-info-container">
    <div class="event-show-info">
      <p class="event-date"><%= @event.time.strftime("%A %b %d, %Y") %></p>
      <h1 id="eventName" class="event-name"><%= @event.title %></h1>

      <p class="event-info-title">Hosted by <span class="event-owner"><%= link_to @event.owner.email, user_path(@event.owner.id) %></span></p>
      <p class="event-info-title">Located at <span class="event-address"><%= @event.address %></span></p>
      <p class="event-info-title">@ <%= @event.time.strftime("%I:%M%p") %></p>
    </div>

    <div class="event-ticket">
      <!-- Check if user is signed in, and if they have joined this event  -->
      <% if current_user == @event.owner %>
        <%= link_to "edit event", edit_event_path(@event.id) %>
      <% elsif joined_event? %>
        <h4>You are signed up for this event!</h4>
        <%= link_to "Cancel rsvp", event_ticket_path(@event.id, @ticket.id), method: :delete %>
      <% elsif current_user && current_user != @event.owner && @event.capacity > 0 %>
        <%= button_to "Join Event", event_tickets_path(@event) %>
      <% elsif @event.capacity == 0 %>
        <h4>Event is currently full.</h4>
      <% elsif !current_user %>
        <h4><%= link_to "Log-in", new_user_session_path %> to join event</h4>
      <% end %>
      <p><%= @event.activity_type %></p>
      <% if @event.capacity %>
        <p>(<%= @event.users.length %> attending)</p>
        <p>Tickets Remaining: <%= @event.capacity %></p>
      <% end %>
    </div>
  </div>


    <div class="event-details-continer">
      <h3 class="event-header">Details</h3>
      <p class="event-details"><%= @event.description %></p>
    </div>


    <section class="comment-area">
      <% if current_user && joined_event? %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <p class="comment-user"><%= comment.user.email %></p>
            <p class="comment-time"><em><%= comment.created_at.strftime("%m/%d/%Y at %I:%M%p") %></em></p>
            <p class="comment-body">"<%= comment.body %>"</p>
            <!-- Check if user created comment to have authorization to delete it  -->
            <% if comment.user.id == current_user.id %>
              <%= button_to "delete comment", event_comment_path(@event, comment.id), data: { confirm: "Are you sure?" }, method: :delete %>
            <% end %>
          </div>
        <% end %>

        <%= form_for( @comment, url: event_comments_path(@event.id) ) do |f| %>
          <div class="field">
            <%= f.label "Leave a comment" %><br/>
            <%= f.text_area :body %>
          </div>

          <div class="actions">
            <%= f.submit "Comment" %>
          </div>
        <% end %>

      <% end %>
    </section>



</section>
